<ol class="breadcrumb">
    <li>Danh mục</li>
    <li class="active">Danh mục Tôn giáo</li>
</ol>
<div class="panel panel-default">
    <div class="panel-body full-width">
        <div id="grid-result" class="body">
            <div class="hr-grid table-responsive">
                <table class="table table-condensed table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center w69">
                                <a href="javascript:void(0);" (click)="add()">
                                    <img src="../../../../assets/images/add-icon.png" alt="Thêm mới" />
                                </a>
                            </th>
                            <th class="text-center w35">#</th>
                            <th class="text-left w99">Mã</th>
                            <th>Tên tôn giáo</th>
                            <td class="text-center w35"></td>
                            <td class="text-center w35"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let tongiao of tongiaos; let i = index">
                            <td class="text-center">
                                <a href="javascript:void(0);" (click)="toggle(tongiao);">
                                    <img *ngIf="tongiao.TRANGTHAI == 1" src="../../../../assets/images/unlocked_16.gif" alt="" />
                                    <img *ngIf="tongiao.TRANGTHAI == 0" src="../../../../assets/images/locked_16.gif" alt="" />
                                </a>
                            </td>
                            <td>{{ i + 1 }}</td>
                            <td class="font-600">{{ tongiao.MA }}</td>
                            <td>{{ tongiao.TEN }}</td>
                            <td>
                                <a href="javascript:void(0);" (click)="edit(tongiao);">
                                    <img src="../../../../assets/images/page_edit.png" alt="" />
                                </a>
                            </td>
                            <td>
                                <a href="javascript:void(0);" (click)="delete(tongiao.MA)">
                                    <img src="../../../../assets/images/trash_16.png" alt="" />
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
