<section id="dashboard" class="extend clearfix">
  <div class="alert alert-primary alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    <strong>Thông báo!</strong> Chương trình đã được cập nhật các tính năng mới trong bản nâng cấp ngày 24/09/2020
    (Update #202009). <a href="#">Xem chi tiết.</a>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default sbox">
        <div class="panel-body text-left">
          <div class="row">
            <div class="col-sm-3">
              <div class="float-right text-right">
                <h4 class="label-green" title="Còn sống">9</h4>
                <h4 title="Đã mất" class="ng-binding">29</h4>
              </div>
              <h2 class="big-number">38</h2>
              <span class="sbox-label fc-666">Người có công</span>
            </div>
            <div class="col-sm-3">
              <span class="divider"></span>
              <h2 class="big-number">30</h2>
              <span class="sbox-label fc-666">Hồ sơ đối tượng</span>
            </div>
            <div class="col-sm-3">
              <span class="divider"></span>
              <h2 class="big-number">12</h2>
              <span class="sbox-label fc-666">Hồ sơ số hóa</span>
            </div>
            <div class="col-sm-3">
              <span class="divider"></span>
              <h2 class="big-number">11</h2>
              <span class="sbox-label fc-666">Liên kết hồ sơ vật lý</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default sbox">
        <div class="panel-body text-center">
          <div class="row">
            <div class="col col2">
              <div class="text-center">
                <img class="img-responsive" src="../../../assets/images/chart_pie_hoso_01.png" style="display:inline-block;">
                <label style="display:block;">Tỉ lệ % loại hồ sơ</label>
              </div>
            </div>
            <div class="col col2">
              <div class="text-center">
                <img class="img-responsive" src="../../../assets/images/chart_pie_hoso_02.png" style="display:inline-block;">
                <label style="display:block;">Tỉ lệ % đã số hóa hồ sơ</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default sbox">
        <div class="panel-body text-left">
          <div class="row">
            <div class="col-sm-3">
              <h2 class="big-number ng-binding">12</h2>
              <span class="sbox-label fc-666">Account khai báo</span>
            </div>
            <div class="col-sm-3">
              <span class="divider"></span>
              <h2 class="big-number ng-binding">10</h2>
              <span class="sbox-label fc-666">Account kích hoạt</span>
            </div>
            <div class="col-sm-3">
              <span class="divider"></span>
              <h2 class="big-number ng-binding">3</h2>
              <span class="sbox-label fc-666">Account có sử dụng</span>
            </div>
            <div class="col-sm-3">
              <span class="divider"></span>
              <h2 class="big-number ng-binding">75</h2>
              <span class="sbox-label fc-666">Account cảnh báo an toàn thông tin</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default sbox">
        <div class="panel-body text-center">
          <img class="img-responsive" src="../../../assets/images/chart_accounts.png" alt="Chart" style="display:inline-block;">
          <label style="display:block;">Thống kê tình hình tài khoản người sử dụng</label>
        </div>
      </div>
    </div>
  </div>
</section>