body {
  height:100%; min-height:100%; padding-top:0px; padding-bottom:0px; font-size:13px; color:#2a343a; background-color:#ecf0f3; font-family:Roboto, Arial, Verdana;
    background: #e1e7ef url('../../../assets/images/app_bg.png') bottom center no-repeat fixed;
}

